.header {
  padding: 0;
  margin: 0;
  height: 100%;
  &__top {
    padding: 20px;
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__content {
    &-skills {
      position: relative;
      padding: 0 10px;
      padding-left: 2rem;
      letter-spacing: 2px;
      font-size: 3rem;
      text-align: left;
      color: #fff;
      width: 320px;
      border-left: 6px solid #f9e3ff;
      overflow: hidden;
      z-index: 1;
      &:after {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        left: 0;
        top: 0;
        transform: translateX(-100%);
        box-shadow: 0 0 200px 120px #a170ae;
        z-index: -1;
      }
    }
  }
}
